@import "tailwindcss";

:root {
  /* Body colors */
  --color-background: hsl(180, 52%, 96%);
  --color-foreground: hsl(180, 14%, 20%);
}

/* Body styles */
body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

